 [Unit]
 Description=Radio CI Server
 After=multi-user.target

 [Service]
 Type=idle
 Environment="TOKEN=<your_token_here>"
 ExecStart=/usr/local/bin/radio-ci-server

 [Install]
 WantedBy=multi-user.target
